/* font-family: 'Fira Sans', sans-serif;
font-family: 'Martel', serif;
font-family: 'Taviraj', serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#results {
    background-color: lightsalmon;
}

header {
    background-color: lightseagreen;
}

body {
    font-family: 'Martel', serif;
}

#search {
    background-color: lightyellow;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}

h2, h3 {
    font-family: 'Taviraj', serif;
}

ul {
    list-style: none;
}
/* 
body {
    display: flex;

} */