/* font-family: 'Fira Sans', sans-serif;
font-family: 'Martel', serif;
font-family: 'Taviraj', serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#results {
    background-color: lightsalmon;
}
.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

#header {
    padding: 12px;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: lightseagreen;
}

body {
    font-family: 'Martel', serif;
}

main {
    min-height: 900px;
}

#search {
    background-color: lightyellow;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}

h2, h3 {
    font-family: 'Taviraj', serif;
}

ul {
    list-style: none;
}
/* 
body {
    display: flex;

} */